.header-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  right: 100%;
  top: 90%;
  background-color: #DB1F24;
  transition-duration: 0.3s;
  
}
.header-link:hover::after {
    right: 0%;
}
