@font-face {
  font-family: fly;
  src: url("./fonts/Blockletter.otf");
}
body {
  font-family: "Harmonia Sans", sans-serif;
  src: url("./fonts/Harmonia\ Sans\ Mono\ W01\ Bold.ttf");
}
.superFont {
  font-family: fly;
}
body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

/* styles.css */

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

/* Track styles */
::-webkit-scrollbar-track {
  background: #ffffff; /* Background color of the scrollbar track */
  border-radius: 8px; /* Rounded corners of the scrollbar track */
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background: rgb(17, 17, 17); /* Color of the scrollbar handle */
  /* border-radius: 8px; */
}

/* Handle hover styles */
::-webkit-scrollbar-thumb:hover {
  background: black; /* Color of the scrollbar handle on hover */
}
.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* This will hide the scrollbar in Webkit browsers */
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.card {
  /* box-shadow: 0 3px 10px #0003; */
  box-shadow: 0 3px 10px #0000001a;
  transition-duration: 1s;
}
.card:hover img {
  transform: scale(1.05);
}
